
#chat
    {
        width: 400px;
        height: 500px;
        overflow: scroll;

    }
    #contentwrap
    {
        display: none;

    }
    #chat-box
    {
        float: left;
        border: 5px #000 solid;
        border-color: black;
    }
    .error
    {
        color: red;
    }
    .whisper
    {
        color: green;
        font-style: italic;
    }
    .normal
    {
        color:blue;
    }
    .userDisconnect
    {
        color:red;
        font-size:18px;
        word-spacing: 4px;
    }

    .userList
    {
        color:blue
    }